body{
    /* background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;*/
    font-family: 'Open Sans', sans-serif;

    /* font-family: "Crimson Text"; */
    line-height: 26px;
    font-weight: 400;
    font-style: normal;
    color: #242424;
    font-size: 17px;
}

.topContainer{
    margin-bottom: 15px;
}
.smallRightImage{
    width: 100%;
    height: auto;
}
.smallRightImagesContainer{
    /* margin-bottom: 50px; */
}
img{
    height: auto;
    width: 100%;
    
}
#featuredPosts{
    margin-right: 20%;
    margin-left: 20%;
}
.featuredPost{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid red;
}

.row, .col{
    text-align: center;
}
.col, .col-6, .container, .container-fluid, #topContainer{
    /* border: 1px solid black; */
}
#topContainer{
    /* height: 100vh; */
}
#latestPosts{
    width: 70%;
}
.mainArticleTitle{
    font-weight: 900;
    line-height: 1.4;
    font-size: 20px;
}
.mainImage{
    width: 100;
}
.secondaryArticleName{
    font-weight: bold;
    font-size: 9px;
    text-align: left;
    font-size: .83em;
    line-height: 1.6;
    font-weight: 900;
}
.tagName{
    font-size: 9px;
    color: #FF835E;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top: 5%;
}
.articleName{
    text-transform: uppercase;
    font-weight: 900;
}
.articleContent{
    font-size: 11px;
}
.postsHeader{
    font-size: 12px;
    font-weight: bolder;
    text-transform: capitalize;
    margin-top: 7%;
}