@font-face {
    font-family: "Crimson1";
    src: url("fonts/CrimsonText-Regular.ttf") format('truetype');
    /*src: url("fonts/CrimsonText-SemiBold.ttf") format('truetype');*/
    /*src: url("fonts/CrimsonText-SemiBoldItalic.ttf") format('truetype');*/
}

@font-face {
    font-family: "CrimsonText";
    src: url("fonts/CrimsonText-Regular.ttf") format('truetype');
    /*src: url("fonts/CrimsonText-SemiBold.ttf") format('truetype');*/
    /*src: url("fonts/CrimsonText-SemiBoldItalic.ttf") format('truetype');*/
}

@font-face {
    font-family: "Open1";
    src: url("fonts/OpenSans-Regular.ttf") format('truetype');
    src: url("fonts/OpenSans-Bold.ttf") format('truetype');
    /*src: url("fonts/OpenSans-SemiBoldItalic.ttf") format('truetype');*/
}

* {
    margin: 0;
    padding: 0;

}
/***********TEMPORAIRE***************/
div, article, section{
    border: 2px solid black;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}
.middle-container{
    width: 100%;
    max-width: 1260px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.first-block{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.first-block-1-1 {
    width: 656px;
    height: 546px;
    display: flex;
    flex-direction: column;
}
.block1-1-img{
    width: 656px;
    height: 500px;
    display: flex;
}
.block1-1-img img {
    max-width: 100%;
    height:100%;

}
.first-block-1-2{
    width: 536px;
    height: 546px;
    display: flex;
    flex-wrap:wrap;
    
}
.first-block-1-2 article {
    width: 240px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    align-items: center;
}
.block1-2-img {
    width: 200px;
    height: 200px;
    display: flex;
    
}

.block1-2-img img{
    max-width: 100%;
    height: 100%;
    
    
}


.second-block {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap:wrap;
}
.block2-1-container{
    
    width: 753px;
    height: 980px;
    display: flex;
}
.block2-1-container{
    width: 300px;
    height: 600px;
    display: flex;
}
.article-dog {
    width: 753px;
    height: 288px;
    display: flex;
}
.article-dog-img{
    width: 356px;
    height: 245px;
    display: flex;
    padding-right: 10px;
    flex-direction: column;
}

.block2-2-social-zone div{
    width: 300px;
    height: 42px;

}
.instagram-rectangle {
    margin-bottom: 100px;

}
.publicity-img {
    width: 300px;
    height: 600px;
}

.third-block{
    width: 753px;
    height: 1646px;
}
.latest-posts-article-block{
    width:380px;
    height:450px;
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
}
.latest-posts-img{
    width:356px;
    height:247px;
    display: flex;
}
.latest-posts-img img{
    max-width:100%;
   
}
.fourth-block{
    width:800px;
    height:84px;
    display: flex;
    justify-content: center;
    align-items: center;
}

