.modalContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: #eeeeeeee; /* Fallback color */
}

/* Modal Content */
.modal-content {
        z-index: 2;
        font-size: 22px;
        line-height: 30px;
        border: 4px solid rgb(107, 107, 107);
        color: rgb(107, 107, 107);
        width: 50%;
        height: 5%;
        margin-left: auto;
        margin-right: auto;
        background-color: white;
        transition: 0.7s;
        margin-top: 40vh;
        position: relative;
        padding: 1% 3% 1% 3%;
}
.modal-content input, .modal-content input:focus, .modal-content textarea:focus{
    border: 0;
    box-shadow: none;
    outline: none;
    font-size: 3vh;
}
.modal-content:hover, .modal-content:focus{
    border: 4px solid black;
    transition: 0.7s;
    color: black;
}
.modal-content i{
    float: right;
}