@font-face {
    font-family: "Crimson1";
    /* src: url("fonts/CrimsonText-Regular.ttf") format('truetype'); */
    src: url("fonts/CrimsonText-SemiBold.ttf") format('truetype');
    /*src: url("fonts/CrimsonText-SemiBoldItalic.ttf") format('truetype');*/
}

@font-face {
    font-family: "CrimsonText";
    src: url("fonts/CrimsonText-Regular.ttf") format('truetype');
    /*src: url("fonts/CrimsonText-SemiBold.ttf") format('truetype');*/
    /*src: url("fonts/CrimsonText-SemiBoldItalic.ttf") format('truetype');*/
}

@font-face {
    font-family: "Open1";
    src: url("fonts/OpenSans-Regular.ttf") format('truetype');
    src: url("fonts/OpenSans-Bold.ttf") format('truetype');
    /*src: url("fonts/OpenSans-SemiBoldItalic.ttf") format('truetype');*/
}

/*****************************LITTLE MOBILE******************************/
@media only screen and (max-width:764px) {

    header {
        width: 100%;
        height: 44px;
        max-width: 90vw;
        display: flex;
        margin: auto;
        margin-bottom: 20px;
    }

    .navbar-container {
        display: flex;

        align-items: center;
        width: 100%;
        height: 100%;

    }

    .navbar-container-row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgb(241, 241, 241);
    }

    .navbar-title {
        font-family: "Crimson1";
        font-size: .8em;
        font-style: bold;
        opacity: .8;
    }

    .navbar-select-menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2%;
        height: 42px;
        width: 42px;
        width: 42px;
    }

    .hamburger-menu img {
        width: 30px;
        height: 25px;

    }

    .searchIcon {
        padding-right: 3%;
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchIcon img {
        width: 100%;
        max-width: 50%;
        height: 50%;
        opacity: .8;
    }

    .search-and-social-button {
        display: flex;
        flex-direction: row;
        max-height: 50px;
    }

    /* 
    .search-and-social-button img{
        width: 100%;
        height: 100%;        
        max-width: 100%;
        display: flex;
    } */

    .instagram_top,
    .twitter_top,
    .facebook_top {
        display: none !important;
    }
}

/********************************IPAD **************************************/
@media only screen and (min-width:765px) and (max-width:1023px) {

    header {
        width: 100%;
        height: 44px;
        max-width: 90vw;
        display: flex;
        margin: auto;
        margin-bottom: 20px;
    }

    .navbar-container {
        display: flex;

        align-items: center;
        width: 100%;
        height: 100%;

    }

    .navbar-container-row1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid rgb(241, 241, 241);
    }

    .navbar-title {
        font-size: .8em;
        font-style: bold;
        opacity: .8;
    }

    .navbar-select-menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 2%;
        height: 42px;
        width: 42px;
        width: 42px;
        max-width: 20px;
    }

    .hamburger-menu img {
        width: 30px;
        height: 25px;

    }

    .searchIcon {
        /* padding-right: 3%; */
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .searchIcon img {
        width: 100%;
        max-width: 50%;
        height: 50%;
        opacity: .8;
    }

    .search-and-social-button {
        display: flex;
        /* flex-direction: row-reverse; */
        width: 55px;
        max-height: 50px;
    }

    .instagram_top,
    .twitter_top,
    .facebook_top {
        display: none !important;
    }
}

/****************************IPAD PRO and ABOVE***********************************/
@media only screen and (min-width:1024px) {

    header {
        width: 100%;
        max-width: 90vw;
        height: 300px;

        display: flex;
        margin: auto;
        
    }

    .navbar-container {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;

    }

    /**ROW1**/
    .navbar-container-row1 {
        display: flex;
        /* justify-content: space-evenly; */
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 50%;
    }

    .hamburger-menu {
        display: none;
    }

    .navbar-title {
        display: flex;
        /* flex-grow: 5; */
        /* justify-content: flex-end; */
        margin: auto;
        font-size: 2em;
        opacity: .8;
    }

    .search-and-social-button {
        display: flex;
        /* flex-grow: 1; */
        flex-direction: row;
        position: absolute;
        right: 5%;


    }

    .search-and-social-button div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        margin-right: 2px;
    }

    .search-and-social-button img {
        width: 50%;
        height: 50%;

    }

    /**ROW2**/
    .navbar-container-row2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;
        border-bottom: 1px solid rgb(241, 241, 241);
    }

    .navbar-select-menu {

        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #242424;
        padding: 0 20px;

        height: 60px;
    }

    .navbar-select-menu a {
        height: 100%;
        padding: 0 20px;
        color: inherit;
        text-decoration: none;
        opacity: .8;
        font-family: Open1;
        border-bottom: 2px solid rgb(241, 241, 241, 0);
        /**ADD THIS TO KEEP ANCHOR TEXT FIXED WHEN SET BORDER EFFECTS ON HOVER (add an invisible border-bottom)**/

    }

    .navbar-select-menu>a:hover {


        /* color: #424242; */
        text-decoration: none;
        border-bottom: 2px solid #FFA88E;
        /**ADD THIS TO KEEP ANCHOR TEXT FIXED WHEN SET BORDER EFFECTS ON HOVER**/

        transition: ease-in-out 300ms;
        
    }
}

/******************************************* COMMON RULES********************************/

body {
    width: 100vw;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}


.title {
    text-align: center;
    font-style: bold;
    margin-left: 70px;
    font-size: 3.25em;
    color: #242424;
    font-family: 'Crimson Text', serif;
}

.title:hover {
    color: #424242;
}

/***************POPUP MENU*************************/

@keyframes poppin {

    0% { width: 0%; }
   
   100% {
        
   } 
}

.popup-menu {
    animation : poppin 220ms linear;
    width: 314px;
    height: 120vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    z-index: 5;
    /* filter: blur(1px); */
    opacity: 1; /***DEFAULT STATE \/ SET TO 1 TO SEE MENU BLOCK **/
}

.popup-menu-close {
    width: 2pc;
    height: 2pc;

    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    

}

.popup-menu-inner {
    width: 90%;
    height: 100%;

    position: relative;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    margin: 30vh 0; /****** TO MAKE SCROLLING FROM .popup-menu WORKING !*******/
    

}

.popup-menu-social-1 {
    width: 100%;
    height: 100px;

    position: relative;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-bottom: 3px solid rgb(236, 235, 235);


}

.popup-menu-social-1 div {
    width: 30px;
    height: 30px;

    position: relative;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1px;

}
.popup-menu-social-1 img {
    max-width: 60%;
    height: 60%;
}
.popup-menu-social-2 {
    width: 100%;
    height: 150px;

    position: relative;
    /* background-color: orange; */
    display: flex;
    justify-content: center;
    align-items: center;

    /* border-bottom: 2px solid lightgray; */
}

.popup-menu-social-2 div {
    width: 40px;
    height: 40px;

    position: relative;
    background-color: #565656;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 8px;

}
.popup-menu-social-2 img {
    max-width: 50%;
    height: 50%;
}
.popup-zone1-title{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Open1;
    color: dimgray;
    margin: 30px 0;
}
.popup-zone1-category{
    margin-bottom: 5%;
}
.popup-zone1-category li{
    padding: 15px 10px;
    font-weight: bold;
    font-family: Crimson1;
    color: dimgray;
    border-bottom: 1px solid  lightgray;
}
#popup-zone1-special-one{
    border-bottom: none;
}
.popup-menu-search {
    width: 100%;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-menu-search input {
    width: 70%;
    height: 30px;
    border: 1px solid lightgray;
    border-right: none;
    text-indent: 1pc; /**** TO INDENT INPUT TEXT + PLACEHOLDER TEXT ***/
}

::placeholder {
    font-weight: bold;
    font-style: italic;
    color: lightgray;
}

.popup-menu-search-button {
    width: 30px;
    height: 30px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray; 
    border-left: none; /***THE RULE ORDER IS IMPORTANT **/
    
}

.popup-menu-search-button img {
    display: flex;
    max-width: 80%;
    height: 80%;
    opacity:.4;
}

/**************************************/

.searchTrigger {
    margin-right: 50px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 65%;
}



.mobileSocialMedia {
    display: flex;
}


/* nav > a {
    text-decoration: none;
    color: black;
    margin-left: 2em;
} */